body {
  height: 100vh;
  color: white;
}

.flex-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.clock {
  font-size: 128px;
}

.hidden {
  display: none;
}

.greeting {
  font-size: 32px;
}

.weather {
  font-size: 64px;
}
